# ignore everything
*
# except
!.gitignore
!.config/
!.config/*
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/core/
!.config/nvim/lua/core/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*
!.config/wezterm/
!.config/wezterm/*
!.config/aerospace/
!.config/aerospace/*
!.zshrc
!.tmux.conf
